.visita {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.visita strong {
  font-size: 15px;
}

.fecha {
  color: #666;
  font-size: 12px;
}

#cerrar-historial {
  margin-bottom: 12px;
  padding: 8px 12px;
  background: #444;
  color: #fff;
  border: none;
  border-radius: 6px;
}

.buscador {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}


